.home {
    // background-color: #191959;
    background: linear-gradient(to right, #000422, #004e92);
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .info {
        position: absolute;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Courier';
        color: #fff;
        max-width: 60%;
        left: 8%;
        margin-top: 30px;

        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 3rem;
        }

        .welcoming-text {
            width: 100%;
            text-align: start;
            font-size: 1.8rem;
            color: #fc0a6d;

            span {
                display: table-caption;
                white-space: nowrap;
                overflow: hidden; /* Ensures the content is not revealed until the animation */

                &.animated {
                    border-right: .15em solid orange; /* The typwriter cursor */
                    margin-bottom: 30px;
                    // animation: typing 3.5s steps(40, end) infinite, blink-caret .75s step-end infinite;
                }
            }
        }

        .image {
            z-index: 3;

            img {
                object-position: top;
            }
        }

        @media screen and (max-width: 768px) {
            max-width: none;
            text-align: center;
            padding: 20px;
            left: auto;
            margin-top: 0;

            h1 {
                margin-top: revert;
                font-size: 2rem;
            }

            .welcoming-text {
                font-size: 1rem;
                padding: 0;
                text-align: -webkit-center;
            }
        }
    }

    #tsparticles {
        display: contents;

        canvas {
            z-index: 2;
        }
    }

    @media screen and (max-width: 768px) {
        background: linear-gradient(to bottom, #000422, #004e92);
    }
}

/* The typing effect */
@keyframes typing {
    0% { width: 0 }
    75% { width: 100% }
    100% { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }