.projects {
    padding: 40px 120px;

    .text {
        font-size: 1.1rem;
        font-family: Courier;
        text-align: justify;
        margin: 40px 0;
    }

    .projects-gallery > div {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
    
            .wrapper {
                height: 300px;
                cursor: pointer;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
    }

    @media screen and (max-width: 768px) {
        padding: 20px;

        .projects-gallery > div {
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
    }
}