.app {
    .navbar {
        background-color: #1b242f;
        border-bottom: 3px solid #04c2c9;

        .toolbar {
            padding-left: 70px;

            .drawer-toggle {
                display: none;
            }

            .nav-item {
                margin: 0 12px;

                span {
                    text-decoration: none;
                    color: #fff;
                    transition: 0.7s;
                    cursor: pointer;

                    &.active {
                        color: #FF4F00;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            position: fixed;

            .toolbar {
                padding-left: 16px;

                .drawer-toggle {
                    display: inline-flex;
                }

                .nav-item {
                    display: none;
                }
            }
        }
    }

    section {
        opacity: 0;
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;

        &.visible {
            opacity: 1;
        }
    }

    .welcoming {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    .divider {
        background-color: #04c2c9;
        border: 0;
        border-top: 2.5px solid rgba(0, 0, 0, 0.1);
        width: 50px;
    }
    
    .footer {
        background-color: #1b242f;
        border-top: 3px solid #04c2c9;
        display: flex;
        justify-content: flex-end;
        padding: 4px 25px;
        color: #fff;
        align-items: center;
        font-size: 0.75rem;
        font-style: italic;

        .footer-logo {
            height: 55px;
            width: 100px;
            margin-left: 10px;
            border-radius: 12px;
            object-fit: cover;
        }
    }
}


@media screen and (max-width: 768px) {
    section {
        transition: 0.10s cubic-bezier(0.645, 0.045, 0.355, 1) 0.7s, transform 0.10s cubic-bezier(0.645, 0.045, 0.355, 1) 0.7s;
    }

    .MuiDrawer-root {
        width: 240px;

        .MuiDrawer-paper {
            width: 240px;
            background-color: #1b242f;

            .MuiList-root {
                color: #fff;

                span {
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                }

                .MuiListItemIcon-root {
                    color: #fff;
                }
            }

            .drawer-logo {
                border-top: 1px solid #04c2c9;
                display: flex;
                justify-content: center;

                img {
                    height: 120px;
                }
            }
        }
    }
}
