

.app {
    .navbar {
        background-color: #1b242f;
        border-bottom: 3px solid #04c2c9;

        .toolbar {
            padding-left: 70px;

            .drawer-toggle {
                display: none;
            }

            .nav-item {
                margin: 0 12px;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: 0.7s;

                    &.active {
                        color: #e31b6d;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            position: fixed;

            .toolbar {
                padding-left: 16px;

                .drawer-toggle {
                    display: inline-flex;
                }

                .nav-item {
                    display: none;
                }
            }
        }
    }

    .welcoming {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    .divider {
        background-color: #04c2c9;
        border: 0;
        border-top: 2.5px solid rgba(0, 0, 0, 0.1);
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .MuiDrawer-root {
        width: 240px;

        .MuiDrawer-paper {
            width: 240px;
            background-color: #313943;

            .MuiList-root {
                color: #fff;

                a {
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                }

                .MuiListItemIcon-root {
                    color: #fff;
                }
            }
        }
    }
}
